@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans/OpenSans-Light.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
	font-weight: normal;
}